/* global CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

/**font-family: 'Readex Pro', sans-serif;**/


/*Partie haute de la page*/

#Start {
    font-family: 'Readex Pro', sans-serif;
    background-color: #93797d;
}

header {
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 3rem;
    width: 90%;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 0.625rem;
}

#connexion {
    color: black;
    font-size: medium;
}

#connexion:hover {
    color: white;
    text-decoration: underline;
}

#Accueil:hover {
    color: white;
    background-color: #b39cd8;
}

#Accueil {
    border: black solid 0.125rem;
    background-color: #a688d8;
    border-radius: 0.313rem;
    padding: 2rem 3rem;
    margin: 3rem;
    font-size: medium;
}

#PESTEL:hover {
    color: white;
    background-color: rgb(216, 165, 89);
}

#PESTEL {
    border: black solid 0.125rem;
    background-color: #ce9d35;
    border-radius: 0.313rem;
    padding: 2rem 2.5rem;
    margin: 15rem;
    font-size: medium;
}

#AboutUs:hover {
    color: white;
    background-color: rgb(216, 165, 89);
}

#AboutUs {
    border: black solid 0.125rem;
    background-color: #ce9d35;
    border-radius: 0.313rem;
    padding: 2rem 2.5rem;
    margin: 3rem;
    font-size: medium;
}


/*Milieu*/

#milieu {
    min-height: 90vh;
    background: linear-gradient(rgb(0, 0, 0, 0.4), transparent), url('images/accueil.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#milieu h3 {
    padding: 4rem;
}

#milieu #Reserver {
    border: black solid 0.125rem;
    background-color: #93797d;
    border-radius: 0.313rem;
    padding: 2rem 2.5rem;
    font-size: medium;
    color: black;
}

#milieu #Reserver:hover {
    color: #ffffff;
    background-color: rgb(143, 111, 124);
}


/* Footer */

#End {
    font-family: 'Readex Pro', sans-serif;
    background-color: grey;
}

footer {
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: 90%;
}

#Infos {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0.625rem;
    align-items: center;
}

#Contact {
    color: black;
    margin: 2rem;
    font-size: medium;
}

#Contact:hover {
    color: white;
    text-decoration: underline;
}

#Mentions {
    color: black;
    margin: 2rem;
    font-size: medium;
}

#Mentions:hover {
    color: white;
    text-decoration: underline;
}

#Réseaux {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    padding: 0.625rem;
    align-items: center;
}

#Réseaux a {
    color: black;
    margin: 3rem;
    font-size: medium;
}

#Réseaux a:hover {
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #PESTEL {
        display: flex;
        flex-wrap: wrap;
        margin: 3rem;
    }
    #connexion {
        margin: 3rem;
        display: flex;
    }
    #Start {
        height: 26rem;
    }
    #Réseaux a {
        margin: 1.7rem;
    }
    #TWW {
        margin: 36.5px;
    }
    #milieu h2 {
        font-size: 3rem;
        text-align: center;
    }
    #milieu h3 {
        font-size: 3rem;
        text-align: center;
    }
}